body {
	background-color: #4D4F4F;
	font-family: 'Roboto', sans-serif;
}

div {
	display: block;
}
.container {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#tomato {   
	border: 0;
	boredr-style: none;
	display: flex;
	flex-direction: column;
	width: 385px;
	height: 385px;
	background-color: #4F5050;
	border-radius: 50%;
	justify-content: center;
	font-size: 15em;
	color: white;
	margin-bottom: 20px;
	align-items: center;
	border: tomato solid thick;
}
button:focus {
 outline: none;
}
.seconds {
	display: flex;
	flex-direction: row;
}
#seconds {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	border: tomato solid thick;
	font-size: 40px;
	background-color: #4F5050;
	margin-top: 20px;
	margin-bottom: 5px;
}
.seconds-label {
	display: flex;
	width: 75px;
	height: 75px;
	font-size: 44px;
	letter-spacing: 10px;
	background-color: #4F5050;
	color: white;
	margin-top: 35px;
	margin-bottom: 5px;
	margin-right: 40px;
	margin-left: 10px;
}
.sound {
	width: 60px;
	height: 60px;
}
#signs {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	
}
.sign {
	border: 0;
	margin-bottom: 36px;
	margin-left: 28px; 
	margin-right: 28px; 
	display: flex;
	border-radius: 50%;
	width: 64px;
	height: 64px;
	line-height: 64px;
	font-size: 64px;
	background-color: #4F5050;
	color: #404040;
	align-items: center;
	justify-content: center;
}
.sign:hover {
	color: white;
}

#reset:hover {
	color: white;
}


#isPaused {
	display: flex;
	font-size: 44px;
	color: gray;
	display: flex;
	margin-top: 36px;
	margin-left: 30px;
	justify-content: center;
	letter-spacing: 20px;
}