body {
	background-color: #4F5050;
}
.container {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#tomato {
	display: flex;
	width: 90vw;
	height: 90vw;
	background-color: tomato;
	border-radius: 50%;
	line-height: 90vw;
	justify-content: center;
	font-size: 7em;
	color: white;
	margin-top: 20vh;
}
